<h3>Comments</h3>
<hr>
{% if post.comments | length == 0 %}
    {% include 'KodifyBlogBundle:Comment:List/empty.html.twig' with {'formComment': formComment } %}
{% else %}
    {% include 'KodifyBlogBundle:Comment:List/index.html.twig' with {'post': post, 'formComment': formComment } %}
{% endif %}
{% include 'KodifyBlogBundle:Default:ajaxAlertMessages.html.twig' %}
{% include 'KodifyBlogBundle:Comment:create.html.twig' with {'form': formComment} %}
