<div class="alert alert-success" style="display:none">
    <strong>Success!</strong> Data created successfully
</div>
<div class="alert alert-error" style="display:none">
    <strong>Success!</strong> Data created successfully
</div>