<div class="alert alert-success" style="display:none">
    <strong>Success!</strong> You have created new comment on post. Refresh to see it!
</div>
<div class="alert alert-error" style="display:none">
    <strong>Success!</strong> You have created new comment on post. Refresh to see it!
</div>